@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'helvetica-neue-lt-pro', sans-serif;
}

.font-adobe-aldine {
  font-family: 'adobe-aldine', sans-serif;
  font-weight: 400;
  font-style: italic;
}

/* Light-mode selection */
::-moz-selection {
  background-color: #e9e9e9;
}
::selection {
  background-color: #e9e9e9;
}

.dark ::-moz-selection {
  background-color: #313131;
}
.dark ::selection {
  background-color: #313131;
}

