---
import Layout from '../layouts/Layout.astro';
import Me from '../sections/Me.astro';
import Projects from '../sections/Projects.astro';
---

<Layout>
  <main class="max-w-screen-md mx-auto space-y-8 my-28">
    <Me />
	<Projects />
  </main>
</Layout>

<script>
  import gsap from 'gsap';

  const name = document.querySelector('.name-heading');
  console.log(name);
</script>
