---
import Layout from '../layouts/Layout.astro';
import Me from '../sections/Me.astro';
import MyCreations from '../sections/MyCreations.astro';
import Projects from '../sections/Projects.astro';
import Growth from '../sections/Growth.astro';
import Connect from '../sections/Connect.astro';
import Footer from '../sections/Footer.astro';
import ThemeButton from '../components/ThemeButton.astro';
---

<Layout>
  <ThemeButton />
  <main
    class="max-w-screen-md mx-auto space-y-12 py-28 px-6 text-balance md:px-0 sm:text-pretty"
  >
    <Me />
    <Projects />
    <MyCreations />
    <Growth />
    <Connect />
  </main>
  <Footer />
</Layout>

<script>
  import gsap from 'gsap';

  const name = document.querySelector('.name-heading');
  console.log(name);
</script>
