---

---

<div>
  <a
    href="https://xnapper.com/app"
    target="_blank"
    class="flex items-center space-x-3 w-fit"
  >
    <h3 class="text-lg text-gray-900">Xnapper</h3>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="18"
      height="18"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-external-link-icon lucide-external-link"
      ><path d="M15 3h6v6"></path><path d="M10 14 21 3"></path><path
        d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
      ></path></svg
    >
    
  </a>
  <p class="text-gray-600 mt-1">
    Converted a web application into a cross-platform Electron desktop app,
    optimizing offline access and native OS integration.
  </p>
</div>
