---
import Heading from '../components/Heading.astro';
import Link from '../components/Link.astro';
---

<section>
  <Heading id="connect-heading" title="Connect" />
  <p class="text-lg opacity-0 translate-y-3 animated-block">
    Feel free to connect at
    <Link
      text="@juansperoni"
      url="https://www.linkedin.com/in/juan-marcos-speroni/"
    />
    or reach out to me at
    <Link
      text="jsperoni@itba.edu.ar"
      url="mailto:jsperoni@itba.edu.ar?subject=Let's%20Build%20Something%20Together&body=Hello%20Juan%2C%0A%0A"
    />
  </p>
</section>
