---
import Heading from '../components/Heading.astro';
---

<section>
  <Heading id="connect-heading" title="Connect" />
  <p class="text-lg">
    Feel free to connect at <a
      href="https://www.linkedin.com/in/juan-marcos-speroni/"
      class="underline"
      target="_blank">@juansperoni</a
    > or reach out to me at <a
      href="mailto:jsperoni@itba.edu.ar?subject=Let's%20Build%20Something%20Together&body=Hello%20Juan%2C%0A%0A"
      class="underline">jsperoni@itba.edu.ar</a
    >
  </p>
</section>
