<footer class="border-t border-current/50">
  <div
    class="max-w-screen-md mx-auto flex items-center justify-between py-2 text-current/80 text-sm px-6 md:px-0"
  >
    <p id="footer-text"></p>
    <p id="footer-time"></p>
  </div>
</footer>

<script>
  // Footer text
  const phrases = [
    'Buenos Aires, Argentina',
    'The land of mate & asado',
    'From the city that never sleeps',
    'Home of Messi and Maradona',
    'A sip of mate, a breath of Buenos Aires',
    'Crafted under southern skies',
    'Dulce de leche > Nutella',
  ];

  const randomPhrase = phrases[Math.floor(Math.random() * phrases.length)];
  const footerText = document.getElementById('footer-text') as HTMLElement;
  footerText.textContent = randomPhrase;

  // Footer time
  function updateBuenosAiresTime() {
    const now = new Date();
    const options: Intl.DateTimeFormatOptions = {
      hour: '2-digit',
      minute: '2-digit',
      timeZone: 'America/Argentina/Buenos_Aires',
      timeZoneName: 'short',
    };

    const formatter = new Intl.DateTimeFormat(navigator.language, options);
    const baTime = formatter.format(now);
    const footerTime = document.getElementById('footer-time') as HTMLElement;
    footerTime.textContent = baTime;
  }

  updateBuenosAiresTime();
  setInterval(updateBuenosAiresTime, 1000);
</script>
