<footer class="border-t border-gray-200">
  <div class="max-w-screen-md mx-auto flex items-center justify-between py-2">
    <p>© 2022 Juan Speroni</p>
    <p class="text-gray-600">2025</p>
  </div>
</footer>
