---
import Heading from '../components/Heading.astro';
import ProjectCard from '../components/ProjectCard.astro';

const projects = [
  {
    name: 'Three.js Journey',
    description:
      'Passionate learner, currently exploring WebGL and shaders development through interactive courses by Bruno Simon.',
    url: 'https://threejs-journey.com/#',
  },
];
---

<section>
  <Heading id="growth-heading" title="Growth" />
  <div class="space-y-6 opacity-0 translate-y-3 animated-block">
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>
</section>
