<div>
  <h1 class="text-xl font-medium tracking-tight name-heading mb-6">Juan Speroni</h1>
  <p class="text-lg">
    <span class="font-adobe-aldine text-2xl">Web developer.</span> Creating fast,
    intuitive, and visually appealing web experiences. Specialized in high-performance
    landing pages and web applications. Front-end at <a
      href="https://www.linkedin.com/company/setandforget/"
      class="underline"
      target="_blank">Set & Forget</a
    >.
  </p>
</div>
