---
import Heading from "../components/Heading.astro";
import ProjectCard from "../components/ProjectCard.astro";

const projects = [
  {
    name: 'Lienzo Marketplace',
    description:
      'Currently developing a marketplace platform to connect emerging artists with art buyers, promoting art accessibility and visibility.',
    url: '',
  },
];
---

<section>
  <Heading id="my-creations-heading" title="My Creations" />
  <div class="space-y-8">
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>
</section>
