---
const { text, url } = Astro.props;
---

<a href={url} class="group inline-block" target="_blank"
  ><span
    class="border-b border-gray-300 transition-colors duration-200 group-hover:border-current"
  >
    {text}
  </span></a
>
